.header{
    display: flex;
    justify-content: space-between; 
    position: fixed;
    width: 100%;
}
.logo{
    border:1px solid black;
    margin-left: 1em;
}
.login{
    border:1px solid black;
    margin-right: 2em;
}
h1{
    padding:0px;
    margin:0px;
}